.page-content {
    margin-left: 0px;
    background:#ffd800;
    margin-top:200px !important;
}

.box.eq-resource {
    width: 46%;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Freckle Face'
}

.navbar-inverse {
    background-color: #246ed9;
    border-bottom:0px;
    height:200px;
}

.navbar h1 {
    font-size: 80px;
    color:white;
}