<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">

            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                                <form class="sidebar-search" action="#" method="POST">
                    <div class="form-container">
                        <div class="input-box">
                            <a href="javascript:;" class="remove"></a>
                            <input type="text" placeholder="Quick Search..." />
                            <input type="button" class="submit" value=" " />
                        </div>
                    </div>
                </form>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
                <br />
            </li>

            <li class="active ">
                <a href="javascript:;">
                    <i class="fa fa-th-large"></i>
                    <span class="title">DASHBOARD
                    </span>
                </a>
            </li>

            <li class="active ">
                <a href="">
                    <i class="fa fa-heart"></i>
                    <span class="title">FAVOURITES
                    </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="">Resources</a>
                    </li>
                    <li>
                        <a href="">Searches</a>
                    </li>


                </ul>
            </li>

            <li class="active ">
                <a href="">
                    <i class="fa fa-inbox"></i>
                    <span class="title">TASKS & NOTIFICATIONS
                    </span>
                </a>
            </li>

            <li class="active ">
                <a href="">
                    <i class="fa fa-th"></i>
                    <span class="title">MY RESOURCES
                    </span>
                </a>
            </li>

 
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN PAGE CONTENT-->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					Dashboard <small>statistics and more</small>
					</h3>
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Dashboard</a>
					</li>
					<li class="pull-right">
						<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
							<i class="fa fa-calendar"></i>
							<span>
							</span>
							<i class="fa fa-angle-down"></i>
						</div>
					</li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        
        <!-- BEGIN DASHBOARD STATS -->
        <div class="row">
            <div class="col-md-12 dashboard">
                    
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
                    <div class="discover"></div><div class="bold">DISCOVER</div>
                </div>    
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
                    <div class="create"></div><div class="bold">CREATE</div>
                </div>    
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
                    <div class="share"></div><div class="bold">SHARE</div>
                    
                </div>
            </div>    
        </div>
        <!-- END DASHBOARD STATS -->
        <div class="row" style="margin-top:20px;"></div>
        
        <div class="row">
            <!-- Recent Activity Stats -->
            <div class="col-md-6 col-sm-6">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-bell-o"></i>Recent Activities
						</div>
						<div class="actions">
							<div class="btn-group">
								<a class="btn btn-sm default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								Filter By <i class="fa fa-angle-down"></i>
								</a>
								<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
									<label><input type="checkbox"/> Finance</label>
									<label><input type="checkbox" checked=""/> Membership</label>
									<label><input type="checkbox"/> Customer Support</label>
									<label><input type="checkbox" checked=""/> HR</label>
									<label><input type="checkbox"/> System</label>
								</div>
							</div>
						</div>
					</div>
					<div class="portlet-body" id="recent-activities">
						<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
							<ul class="feeds">
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 You have 4 pending tasks.
													<span class="label label-sm label-warning ">
														 Take action <i class="fa fa-share"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 Just now
										</div>
									</div>
								</li>
								<li>
									<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-bar-chart-o"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 Finance Report for year 2013 has been released.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 20 mins
										</div>
									</div>
									</a>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-danger">
													<i class="fa fa-user"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 You have 5 pending membership that requires a quick review.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 24 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-shopping-cart"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 New order received with
													<span class="label label-sm label-success">
														Reference Number: DR23923
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 30 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-user"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 You have 5 pending membership that requires a quick review.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 24 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-bell-o"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 Web server hardware needs to be upgraded.
													<span class="label label-sm label-default ">
														Overdue
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 2 hours
										</div>
									</div>
								</li>
								<li>
									<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-briefcase"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 IPO Report for year 2013 has been released.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 20 mins
										</div>
									</div>
									</a>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-check"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 You have 4 pending tasks.
													<span class="label label-sm label-warning ">
														 Take action <i class="fa fa-share"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 Just now
										</div>
									</div>
								</li>
								<li>
									<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-danger">
													<i class="fa fa-bar-chart-o"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 Finance Report for year 2013 has been released.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 20 mins
										</div>
									</div>
									</a>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-default">
													<i class="fa fa-user"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 You have 5 pending membership that requires a quick review.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 24 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-shopping-cart"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 New order received with
													<span class="label label-sm label-success">
														Reference Number: DR23923
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 30 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-success">
													<i class="fa fa-user"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 You have 5 pending membership that requires a quick review.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 24 mins
										</div>
									</div>
								</li>
								<li>
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-warning">
													<i class="fa fa-bell-o"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 Web server hardware needs to be upgraded.
													<span class="label label-sm label-default ">
														Overdue
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 2 hours
										</div>
									</div>
								</li>
								<li>
									<a href="#">
									<div class="col1">
										<div class="cont">
											<div class="cont-col1">
												<div class="label label-sm label-info">
													<i class="fa fa-briefcase"></i>
												</div>
											</div>
											<div class="cont-col2">
												<div class="desc">
													 IPO Report for year 2013 has been released.
												</div>
											</div>
										</div>
									</div>
									<div class="col2">
										<div class="date">
											 20 mins
										</div>
									</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="scroller-footer">
							<div class="pull-right">
								<a href="#">See All Records <i class="m-icon-swapright m-icon-gray"></i></a> &nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- End Recent Activity stats-->
            
            <!-- Report stats -->
            <div class="col-md-6 col-sm-6">
                <div class="portlet box green">
                    <div class="portlet-title">
						<div class="caption">
							<i class="fa fa-bar-chart-o"></i>Reports
						</div>
					</div>
                    
                    <div class="portlet-body">
                        <div class="row">
							<div class="col-md-4">
								<div class="easy-pie-chart">
									<div class="number overalleq" data-percent="55">
										<span>
											+55
										</span>
										%
									</div>
									<a class="title" href="#">Overall EQ <i class="m-icon-swapright"></i></a>
								</div>
							</div>
							<div class="margin-bottom-10 visible-sm">
							</div>
							<div class="col-md-4">
								<div class="easy-pie-chart">
									<div class="number at-risk" data-percent="85">
										<span>
											+85
										</span>
										%
									</div>
									<a class="title" href="#">At Risk <i class="m-icon-swapright"></i></a>
								</div>
							</div>
							<div class="margin-bottom-10 visible-sm">
							</div>
							<div class="col-md-4">
								<div class="easy-pie-chart">
									<div class="number most-embedded" data-percent="46">
										<span>
											-46
										</span>
										%
									</div>
									<a class="title" href="#">Most Embedded <i class="m-icon-swapright"></i></a>
								</div>
							</div>
						</div>
                        
                        <div class="row" style="margin-top:30px;"></div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet solid light-grey bordered">
            						<div class="portlet-title">
            							<div class="caption">
            								<i class="fa fa-bullhorn"></i>Score Breakout
            							</div>
            							<div class="tools">
            								<div class="btn-group pull-right" data-toggle="buttons">
            									<a href="" class="btn blue btn-sm active">Users</a>
            									<a href="" class="btn blue btn-sm">Orders</a>
            								</div>
            							</div>
            						</div>
            						<div class="portlet-body">
            							<div id="site_activities_loading">
            								<img src="assets/img/loading.gif" alt="loading"/>
            							</div>
            							<div id="site_activities_content" class="display-none">
            								<div id="site_activities" style="height: 100px;">
            								</div>
            							</div>
            						</div>
    					        </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Report stats-->            
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END CONTENT -->  