<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">

            <li class="sidebar-search-wrapper">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!--                <form class="sidebar-search" action="#" method="POST">
                    <div class="form-container">
                        <div class="input-box">
                            <a href="javascript:;" class="remove"></a>
                            <input type="text" placeholder="Quick Search..." />
                            <input type="button" class="submit" value=" " />
                        </div>
                    </div>
                </form>-->
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
                <br />
            </li>

            <li class="active ">
                <a href="javascript:;">
                    <i class="fa fa-search"></i>
                    <span class="title">SEARCH COLLECTIONS
                    </span>
                </a>
                <ul class="sub-menu">
                    <li class="active">
                        <a ui-sref="discover.search">All Resources</a>
                    </li>
                    <li>
                        <a href="">Books</a>
                    </li>
                    <li>
                        <a href="">Documentation</a>
                    </li>
                    <li>
                        <a href="">eReserve Articles</a>
                    </li>


                </ul>
            </li>

            <li class="active ">
                <a href="">
                    <i class="fa fa-search-plus"></i>
                    <span class="title">ADVANCED SEARCH
                    </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="">Learning Resources</a>
                    </li>
                    <li>
                        <a href="">Photography</a>
                    </li>


                </ul>
            </li>

            <li class="active ">
                <a href="">
                    <i class="fa fa-folder"></i>
                    <span class="title">BROWSE
                    </span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="">Formats</a>
                    </li>
                    <li>
                        <a href="">Collections</a>
                    </li>


                </ul>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div ui-view class="col-md-12">
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
