/* here you can put your own css to customize and override the theme */

html, body {
    height: 100%;
}

.btn {
    color: white;
}

.box {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 1px #e4e6eb;
    -moz-box-shadow: 0 1px 0 1px #e4e6eb;
    box-shadow: 0 1px 0 1px #e4e6eb;
    margin: 0 0 10px 0;
    background: white;
    padding: 10px;
    position: relative;
}

    .box.result {
        /*height: 130px;
        overflow: hidden;*/
    }

        .box.result span {
            font-size: 10px;
            color: #808080;
            padding-right: 10px;
        }

    .box h1 {
        margin-top: 0px;
    }

    .box.eq-resource p.quick-meta span {
        margin-right: 10px;
        font-size: 0.8em;
        color: #808080;
    }

    .box.eq-resource .btn.disabled {
        display: none;
    }

    .box.eq-resource .btn {
        color: white;
        background-color: #808080;
    }

div.spontent {
    
    /*position:fixed;*/
    /*bottom:0px;*/
    margin: 0px -10px -30px -10px;
}

p.result-desc {
    height: 54px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}

i.fa.fa-star {
    color: #1e8fc6 !important;
}

    i.fa.fa-star.grey {
        color: #e4e6eb !important;
    }

ul.items {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    -webkit-padding-start: 0px;
}

    ul.items li {
        margin-left: 0px;
    }

.box.eq-resource {
    /*height: 400px;*/
    /*padding-bottom:100%;*/
    
    /*position:fixed;
    width:38%; */
}

.input-icon i.fa-search {
    color: white;
    display: block;
    position: absolute;
    margin: 0px -10px 0px 10px;
    font-size: 20px;
    text-align: center;
    background: #1e8fc6;
    width: 46px;
    height: 46px;
    padding-top: 16px;
}

.searchentry {
    margin-bottom: 10px;
}

.input-icon.right.searchentry input {
    padding-right: 63px !important;
    float:left;
}

ul.items a {
    text-decoration: none;
    color: black;
}

h4.ng-binding {
    font-weight: 600 !important;
    margin-top: 0px;
}

.modifier-left {
    padding-left: 0px;
}

.modifier-right {
    padding-right: 0px;
    text-align: right;
}

    .modifier-right .dropdown-menu {
        text-align: left;
    }

div.modifiers {
    padding: 0 0 10px 0;
    color: darkgrey;
    font-size: 12px;
}

    div.modifiers a {
        color: darkgrey;
    }

        div.modifiers a:hover {
            text-decoration: none;
        }

.nav.navbar-nav.top-nav {
    /*color:white;
    height:42px;
    font-size:20px;
    line-height:42px;
    padding-left: 25px;*/
}

.nav.navbar-nav.top-nav a, .nav.navbar-nav.top-nav a:hover, .nav.navbar-nav.top-nav a:visited {
        color: white;
        height: 42px;
        font-size: 20px;
        line-height: 42px;
        padding: 0 6px 0 6px;
    }

    .nav.navbar-nav.top-nav li {
        padding-left: 6px;
        padding-right: 6px;
    }

        .nav.navbar-nav.top-nav li.active a {
            background: #36a9e1;
        }

    .nav.navbar-nav.top-nav i {
        font-size: 24px;
    }

.page-content.admin, .page-content.dashboard, .page-content.create {
    margin-left: 0px;
}

.page-sidebar h3 {
    color:#e4e6eb;
    margin:20px 15px 30px 15px;
}
.modal {
    display: block;
    left: 42%;
    max-width: 350px;
    top: 46%;
}

/*** added for custome model-share  ***/
.modal-share {
    top: 27%;
    max-width: 550px;
}

.modal-backdrop-share {
    max-width: 620px;
    top: 24%;
}

.modal-share .modal-header {
    padding: 0px;
  
}

.modal-share .ms-list {
    height: 130px;
}

.modal-share .modal-body {
    padding-bottom: 0px;
}

.modal-share .modal-footer {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}

.modal-share .modal-header {
    border-bottom: 0px;
}
.modal-share .share_title{
    width:55.33%;
    float:left;
}

.modal-share .share_title h3{   
    margin-top:0px;   
}

.modal-share .share_title_icon {
    width:22.33%;
    float:left;
    margin-bottom:15px;
}

.modal-share .share_e7 {
    width:22.33%;
    float:left;
    margin-bottom:15px;
   
}  

/*** ***/

.form-wizard .steps li a, .form-wizard .steps {
background:#f5f5f5;

}

.form-wizard .step .desc, .form-wizard .step .number {
    color: #808080;
}

dl div.spontent {
    background: #808080;
}

.searchentry {
    height: 50px;
}
div.input-icon.right.searchentry button.btn {

float:right;
position:absolute;
padding:0px;
}

.portlet.box.grey {
    margin-bottom: 25px !important;
}

.show-all {
    text-align: right;
    font-weight: bold;
    margin-right: 30px;
}

.padding-top5 {
    margin-top: 15px;
}

.dashboard .discover {
    background: url('../../images/discover.png') no-repeat;
    height: 174px;
    width: 185px;
    margin-left: auto;
    margin-right: auto; 
    cursor: pointer;
    margin-bottom: 5px;   
}

.dashboard .discover:hover {
    background: url('../../images/discover-hover.png') no-repeat;
}

.dashboard .create {
    background: url('../../images/create.png') no-repeat;
    height: 174px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
}
.dashboard .create:hover {
    background: url('../../images/create-hover.png') no-repeat;
}

.dashboard .share {
    background: url('../../images/share.png') no-repeat;
    height: 174px;
    width: 185px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;    
}
.dashboard .share:hover {
    background: url('../../images/share-hover.png') no-repeat;
}



/*-- Attachment --*/
.attach-row {
    margin-top:10px;
}

.attachment-single {
    height:140px;
    margin-top: 10px;
    word-break: break-all;
    overflow: hidden;
}            
    
.attach-name {
    height:55px; 
} 

.fa-4 {
    font-size: 6em;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fa-6 {
    font-size: 13em;
    margin-top: 80px;
    margin-bottom: 80px;
    cursor: pointer;
}